.matdrawer{
  width: 100%;
  height: 100%;
}

.sidenav{
  width: 256px;
  background-color: #1E4263;
}

.profile{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #2563EB;
  display: flex;
  position: absolute;
  right: 2rem;

}

.NavBar{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
