@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html, body { height: 100%; }
body {font-family: lexend, "lexend", sans-serif; }



.success-snackbar.mat-mdc-snack-bar-container {
  //width: 8rem !important;
  //max-width: 10rem !important;

  .mdc-snackbar__surface {
    background: green;
    padding: 1rem !important;

    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}

.failure-snackbar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background: #910202;
    padding: 1rem !important;
    width: 2rem !important;


    .mat-mdc-button {
      color: white !important;
    }
  }

  .mat-mdc-snack-bar-label.mdc-snackbar__label {
    color: white;
    font-weight: 500;
    white-space: pre-wrap
  }
}
