<div class="px-4 py-3 mt-2 mx-3 flex flex-col bg-white shadow-xl rounded-lg">
  <div class=" absolute mt-0 ml-3 mr-4 text-[1.7em] font-semibold pointer-events-none">Child Records</div>
  <div class="text-sm breadcrumbs absolute mt-5 ml-3">
    <ul>
      <li class="text-gray-500"><a routerLink="../home">Home</a></li>
      <li>ChildRecords</li>
    </ul>
  </div>

  <form [formGroup]="childRecordSearchForm" class="flex flex-row animate animate-fade">
    <div class="join ml-auto  scale-95">
      <input
        type="text"
        placeholder="FullName"
        class="input input-bordered w-15 max-w-xs bg-white border-gray-300 text-sm join-item"
        formControlName="ssfullname"
      />

      <input
        type="text"
        placeholder="Reg No"
        class="input input-bordered w-15 max-w-xs bg-white border-gray-300 text-sm join-item"
        formControlName="ssregno"
      />

      <select class="select select-bordered w-15 border-gray-300 text-sm bg-white h-5 join-item"
              formControlName="ssgender"
              data-tip="Gender"
      >
        <option disabled value="">Gender</option>

        @for(gender of genders; track genders){
          <option value="{{gender.id}}">{{gender.name}}</option>
        }
      </select>

      <select class="select select-bordered w-15 border-gray-300 text-sm bg-white h-5 join-item"
              formControlName="sshealthstatus"
              data-tip="Health Status"
      >
        <option disabled value="">Health Status</option>

        @for(healthstatus of healthstatuses; track healthstatuses){
          <option value="{{healthstatus.id}}">{{healthstatus.name}}</option>
        }
      </select>

      <button class="btn join-item border-black bg-gray-950 text-gray-300 hover:bg-gray-900" (click)="handleSearch()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </button>
    </div>
    <button class="btn border-gray-300 bg-gray-950 text-gray-300 hover:bg-gray-900" (click)="clearSearch()">
      Clear
    </button>
  </form>
</div>

<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">

    <div class="w-full h-full bg-white mt-4 ml-2 rounded-md shadow-md border-2 border-[[#1e4263]] overflow-auto">

      <div class="w-full h-[2.5rem] bg-[#1e4263] flex items-center rounded-tl-md rounded-tr-md">
        <span class="ml-5 text-white text-lg ">Data Form</span>
      </div>

      <form [formGroup]="childRecordForm" class="mt-5 animate animate-fade">

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="FullName"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="fullname"
          />
          <label class="floating-label">FullName</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="RegNo"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="regno"
          />
          <label class="floating-label">RegNo</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Birth Date"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="dobirth"
            onfocus="(this.type='date')"
          />
          <label class="floating-label">Birth Date</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="gender"
          >
            <option disabled [ngValue]="null">Gender</option>

            @for (gender of genders; track genders) {
              <option [ngValue]="gender.id">{{gender.name}}</option>
            }
          </select>
          <label class="floating-labels-select">Gender</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Registered Date"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="doregistered"
            onfocus="(this.type='date')"
          />
          <label class="floating-label">Registered Date</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="mother"
          >
            <option disabled [ngValue]="null">Mother</option>

            @for (mother of mothers; track mothers) {
              <option [ngValue]="mother.id">{{mother.mothername}}</option>
            }
          </select>
          <label class="floating-labels-select">Mother</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Birth Weight"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="birthweight"
          />
          <label class="floating-label">Birth Weight(CM)</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="number"
            placeholder="Head Perimeter"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="headperimeter"
          />
          <label class="floating-label">Head Perimeter(CM)</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="bloodtype"
          >
            <option disabled [ngValue]="null">Blood Type</option>

            @for (bloodtype of bloodtypes; track bloodtypes) {
              <option [ngValue]="bloodtype.id">{{bloodtype.name}}</option>
            }
          </select>
          <label class="floating-labels-select">Blood Type</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Birth Height"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="heightinbirth"
          />
          <label class="floating-label">Birth Height(CM)</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Place of Birth"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="placeofbirth"
          />
          <label class="floating-label">Place of Birth</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Apgar Score"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="apgarscore"
          />
          <label class="floating-label">Apgar Score</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="healthstatus"
          >
            <option disabled [ngValue]="null">Health Status</option>

            @for (healthstatus of healthstatuses; track healthstatuses) {
              <option [ngValue]="healthstatus.id">{{healthstatus.name}}</option>
            }
          </select>
          <label class="floating-labels-select">Health Status</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="involvementstatus"
          >
            <option disabled [ngValue]="null">Involvement Status</option>

            @for (involvementstatus of involvementstatuses; track involvementstatuses) {
              <option [ngValue]="involvementstatus.id">{{involvementstatus.name}}</option>
            }
          </select>
          <label class="floating-labels-select">Involvement Status</label>
        </div>

        <div class="flex flex-row mt-3 max-w-[97%] px-2 pb-5">
          <button class="btn text-white bg-gray-950 mr-1 w-1/4 hover:bg-gray-900"
                  (click)="add()" [disabled]="!enaadd">Add</button>
          <button class="btn text-white bg-gray-950 mr-1 w-1/4 hover:bg-gray-900"
                  (click)="update(currentChildRecord)" [disabled]="!enaupd">Update</button>
          <button class="btn text-white bg-gray-950 w-1/4 mr-1 hover:bg-gray-900"
                  (click)="delete(currentChildRecord)"
                  [disabled]="!hasDeleteAuthority || !enadel " >Delete</button>
          <button class="btn text-white bg-gray-950 w-1/4 hover:bg-gray-900"
                  (click)="clearForm()">Clear</button>
        </div>

      </form>
    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="10">

    <div class="w-full h-full bg-white mt-4 ml-2 mr-2 rounded-md shadow-md overflow-auto">
      <div class="w-full h-[2.5rem] bg-[#1e4263] flex items-center rounded-tl-md rounded-tr-md">
        <span class="ml-5 text-white text-lg ">Data List</span>
      </div>

      <div class="overflow-auto p-4 mt-2 mx-3 flex flex-col bg-white shadow-md rounded-lg">
        @if(!isFailed || !isLoading || childs.length !== 0){
          <table class="text-left p-4 table">
            <thead>
            <tr class="text-black bold">
              <th>FullName</th>
              <th>Reg No</th>
              <th>Gender</th>
              <th>Mother</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>

            <tbody>
              @for(child of data | async ; track childs){
                <tr>
                  <td>
                    <div>
                      <div class="font-semibold">{{child.fullname}}</div>
                      <div class="text-sm badge badge-neutral">{{child.mother.clinic.divisionname}}</div>
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      {{child.regno}}
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      {{child.gender.name}}
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      {{child.mother.mothername}}
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      <div class="badge badge-xs mr-1.5 {{child.healthstatus.name === 'Healthy'? 'bg-success border-white' : child.healthstatus.name === 'Underweight'? 'bg-error border-white' : 'bg-warning border-white'}}"></div>
                      {{child.healthstatus.name}}
                    </div>
                  </td>

                  <th>
                    <div class="join">
                      <button
                        class=" join-item {{hasUpdateAuthority ? '' : 'text-gray-300'}} hover:cursor-pointer"
                        (click) = "fillForm(child)"
                        [disabled]="!hasUpdateAuthority"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          data-slot="icon"
                          class="w-5 h-5 mr-3"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                          />
                        </svg>
                      </button>

                    </div>
                  </th>

                </tr>
              }
            </tbody>
          </table>

          <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
        }

        @if (isLoading){
          <app-page-loading/>
        }

        @if (isFailed){
          <app-page-error/>
        }
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>
