<div class="firstwindow">

  <mat-card>
    <mat-card-header>
      <p class="loginHeader">Sign in to your account</p>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="authForm" (ngSubmit)="submitForm()">

      <fieldset class="textform">
      <label class="labeltext">Username</label>
      <input
        formControlName="email"
        placeholder="Username"
        class="textinput"
        type="text"
      />
      </fieldset>

      <fieldset class="textform">
        <label class="labeltext">Password</label>
        <input
          formControlName="password"
          placeholder="Password"
          class="textinput"
          type="password"
        />
      </fieldset>

      <fieldset class="bar">
        <div class="remember">
          <input type="checkbox"> <label>Remember Me</label>
        </div>
        <div class="forgot">
          <label>Forgot Password</label>
        </div>
      </fieldset>

      <button type="submit" class="submitbtn">Sign in</button>

      <div class="register">
        <p>Don't have an account yet? <span> Sign up</span></p>
      </div>
      </form>

      <div class="imgs">
        <img src="./assets/logo.png" alt="logo" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
