<div class="px-4 py-3 mt-2 mx-3 flex flex-col bg-white shadow-md rounded-lg">
  <div class=" absolute mt-0 ml-3 mr-4 text-[1.7em] font-semibold pointer-events-none">Mother Registration</div>
  <div class="text-sm breadcrumbs absolute mt-5 ml-3">
    <ul>
      <li class="text-gray-500"><a routerLink="../home">Home</a></li>
      <li>MotherRegistration</li>
    </ul>
  </div>

  <form [formGroup]="motherregSearchForm" class="flex flex-row animate animate-fade">
    <div class="join ml-auto  scale-95">
      <input
        type="text"
        placeholder="Mother Name"
        class="input input-bordered w-15 max-w-xs bg-white border-gray-300 text-sm join-item"
        formControlName="ssmothername"
      />

      <input
        type="text"
        placeholder="Register No"
        class="input input-bordered w-15 max-w-xs bg-white border-gray-300 text-sm join-item"
        formControlName="ssregisterno"
      />

      <input
        type="text"
        placeholder="Nic"
        class="input input-bordered w-15 max-w-xs bg-white border-gray-300 text-sm join-item"
        formControlName="ssnic"
      />

      <select class="select select-bordered w-15 border-gray-300 text-sm bg-white h-5 join-item"
              formControlName="ssclinic"
              data-tip="Clinic"
      >
        <option disabled value="">Clinic</option>

        @for (clinic of clinics; track clinics) {
          <option value="{{clinic.id}}">{{ clinic.divisionname }}</option>
        }
      </select>

      <button class="btn join-item border-black bg-gray-950 text-gray-300 hover:bg-gray-900" (click)="handleSearch()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
      </button>
    </div>
    <button class="btn border-gray-300 bg-gray-950 text-gray-300 hover:bg-gray-900" (click)="clearSearch()">
      Clear
    </button>
  </form>
</div>


<mat-grid-list [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="4" [rowspan]="10">

    <div class="w-full h-full bg-white mt-4 ml-2 rounded-md shadow-md border-2 border-[[#1e4263]] overflow-auto">

      <div class="w-full h-[2.5rem] bg-[#1e4263] flex items-center rounded-tl-md rounded-tr-md">
        <span class="ml-5 text-white text-lg ">Data Form</span>
      </div>

      <form [formGroup]="motherregForm" class="mt-5 animate animate-fade">

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Mother Name"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="mothername"
          />
          <label class="floating-label">Mother Name</label>
        </div>

        <div class="flex flex-row items-center mb-3 px-2">
          <div class="relative mr-2 w-full">
            <input
              type="text"
              placeholder="Register Number"
              class="peer input input-bordered w-full focus:outline-none"
              formControlName="registerno"
            />
            <label class="floating-label">Register Number</label>
          </div>
          <button class="btn bg-gray-950 text-white hover:bg-gray-900" (click)="generateRegNo()">Generate Number
          </button>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="clinic"
          >
            <option disabled [ngValue]="null">Clinic</option>

            @for (clinic of clinics; track clinics) {
              <option [ngValue]="clinic.id">{{ clinic.divisionname }}</option>
            }
          </select>
          <label class="floating-labels-select">Clinic</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="motherstatus"
          >
            <option disabled [ngValue]="null">Mother Status</option>

            @for (motherstatus of motherstatuses; track motherstatuses) {
              <option [ngValue]="motherstatus.id">{{ motherstatus.name }}</option>
            }
          </select>
          <label class="floating-labels-select">Mother Status</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="NIC"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="nic"
          />
          <label class="floating-label">NIC</label>

        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Mobile Number"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="mobileno"
          />
          <label class="floating-label">Mobile Number</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Date of Pregnancy"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="dopregnant"
            onfocus="(this.type='date')"
          />
          <label class="floating-label">Date of Pregnancy</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="bloodtype"
          >
            <option disabled [ngValue]="null">Blood Type</option>

            @for (bloodtype of bloodtypes; track bloodtypes) {
              <option [ngValue]="bloodtype.id">{{ bloodtype.name }}</option>
            }
          </select>
          <label class="floating-labels-select">Blood Type</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="maritalstatus"
          >
            <option disabled [ngValue]="null">Marital Status</option>

            @for (maritalstatus of maritalstatuses; track maritalstatuses) {
              <option [ngValue]="maritalstatus.id">{{ maritalstatus.name }}</option>
            }
          </select>
          <label class="floating-labels-select">Marital Status</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="number"
            placeholder="Age"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="age"
          />
          <label class="floating-label">Age</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Address"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="address"
          />
          <label class="floating-label">Address</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <input
            type="text"
            placeholder="Current Weight(KG)"
            class="peer input input-bordered w-full focus:outline-none"
            formControlName="currentweight"
          />
          <label class="floating-label">Current Weight(KG)</label>
        </div>

        <div class="relative w-full mb-3 px-2">
          <select
            class="peer select select-bordered w-full bg-white focus:outline-none"
            formControlName="involvementstatus"
          >
            <option disabled [ngValue]="null">Involment Status</option>

            @for (involvementstatus of involvementstatuses; track involvementstatuses) {
              <option [ngValue]="involvementstatus.id">{{ involvementstatus.name }}</option>
            }
          </select>
          <label class="floating-labels-select">Involvement Status</label>
        </div>

        <div class="relative w-full mb-3 px-2">
            <textarea
              class="peer textarea textarea-bordered w-full h-36 focus:outline-none"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          <label class="floating-label">Description</label>
        </div>

        <div class="flex flex-col justify-center {{ifqrshow ? 'block' : 'hidden'}}">
          <div id="qrcode" #qrcode class="flex flex-col justify-center items-center">
            <p class="font-lexend font-bold text-lg">Clinic Attendance Card</p>
            <qrcode [qrdata]="qrData" [width]="200" [allowEmptyString]="true" [errorCorrectionLevel]="'M'"></qrcode>
          </div>
          <button (click)="downloadAsPDF()" class="btn mx-2 flex justify-center">Download as PDF</button>
        </div>

        <div class="flex flex-row mt-3 max-w-[97%] px-2 pb-5">
          <button class="btn text-white bg-gray-950 mr-1 w-1/4 hover:bg-gray-900"
                  (click)="add()" [disabled]="!enaadd || !hasWriteAuthority">Add
          </button>
          <button class="btn text-white bg-gray-950 mr-1 w-1/4 hover:bg-gray-900"
                  (click)="update(currentMother)" [disabled]="!enaupd || !hasUpdateAuthority">Update
          </button>
          <button class="btn text-white bg-gray-950 w-1/4 mr-1 hover:bg-gray-900"
                  (click)="delete(currentMother)"
                  [disabled]="!hasDeleteAuthority || !enadel ">Delete
          </button>
          <button class="btn text-white bg-gray-950 w-1/4 hover:bg-gray-900"
                  (click)="clearForm()">Clear
          </button>
        </div>

      </form>
    </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="8" [rowspan]="10">

    <div class="w-full h-full bg-white mt-4 ml-2 mr-2 rounded-md shadow-md overflow-auto">
      <div class="w-full h-[2.5rem] bg-[#1e4263] flex items-center rounded-tl-md rounded-tr-md">
        <span class="ml-5 text-white text-lg ">Data List</span>
      </div>

      <div class="overflow-auto p-4 mt-2 mx-3 flex flex-col bg-white shadow-md rounded-lg">
        @if (!isFailed || !isLoading || mothers.length !== 0) {
          <table class="text-left p-4 table">
            <thead>
            <tr class="text-black bold">
              <th>Mother Name</th>
              <th>Registration No</th>
              <th>NIC</th>
              <th>Clinic</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>

            <tbody>
              @for (mother of data | async; track mothers) {
                <tr>
                  <td>
                    <div>
                      <div>{{ mother.mothername }}</div>
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      {{ mother.registerno }}
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      {{ mother.nic }}
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      {{ mother.clinic.divisionname }}
                    </div>
                  </td>

                  <td>
                    <div class="flex items-center">
                      <div
                        class="badge badge-xs mr-1.5 {{mother.involvementstatus.name === 'On Program'? 'bg-success border-white' : mother.involvementstatus.name === 'Off Program'? 'bg-error border-white' : 'bg-warning border-white'}}"></div>
                      {{ mother.involvementstatus.name }}
                    </div>
                  </td>

                  <th>
                    <div class="join">
                      <button
                        class=" join-item {{hasReadAuthority ? '' : 'text-gray-300'}} hover:cursor-pointer"
                        (click)="fillForm(mother)"
                        [disabled]="!hasReadAuthority"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          data-slot="icon"
                          class="w-5 h-5 mr-3"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                          />
                        </svg>
                      </button>

                    </div>
                  </th>

                </tr>
              }
            </tbody>
          </table>

          <mat-paginator [length]="20" [pageSize]="7" [pageSizeOptions]="[3,7,10,20]"></mat-paginator>
        }

        @if (isLoading) {
          <app-page-loading/>
        }

        @if (isFailed) {
          <app-page-error/>
        }
      </div>
    </div>

  </mat-grid-tile>
</mat-grid-list>
