<div class="flex justify-center">

  <div class="w-full h-32 bg-[#1E4263] relative mx-4 top-4 rounded-lg flex flex-row">

    <div>
      <img class="w-32 h-32 absolute left-12" src="assets/logo-nobg.png" alt="Logo" />
    </div>
    <div>
      <p class="font-lexend  relative text-white text-2xl top-5 left-48 w-xl">
        Welcome to Threeposha And Vaccination Request And Distribution <br> Management System ePortal
      </p>

      <div class=" relative text-xs left-48 flex flex-row gap-7 font-lexend text-white top-7">
        <p>Hotline: 0112326248/0112452440</p>
        <p>Email: rdhscolombodoct&#64;gmail.com</p>

      </div>
    </div>





  </div>

</div>
